# Module 4 - Working with Modules and Handling Exceptions

### Case Study - 2

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('bank-data.csv')  # reading file

In [4]:
df

     age            job  marital    y
0     20        student   single  yes
1     32     management   single  yes
2     49     technician  married  yes
3     32    blue-collar  married  yes
4     33     management  married  yes
..   ...            ...      ...  ...
442   26     technician   single  yes
443   60  self-employed  married  yes
444   42    blue-collar   single  yes
445   32         admin.   single  yes
446   46    blue-collar  married  yes

[447 rows x 4 columns]

In [5]:
unique_jobs = df['job'].unique()   # set of unique jobs

In [6]:
unique_jobs

array(['student', 'management', 'technician', 'blue-collar', 'admin.',
       'services', 'self-employed', 'entrepreneur', 'housemaid'],
      dtype=object)

In [13]:
def check_eligibility(profession):
    
    '''Function - takes user entered profession as input and returns the eligibility'''
    
    if profession.lower() in unique_jobs:      # case insensitive operation
        return 'Eligible'
    return 'Not Eligible'

profession=''

while profession != 'END':
    
    profession = input('Enter the profession(enter END if the check is done): ')
    
    if profession=='END':
        break
    print(check_eligibility(profession))

Enter the profession(enter END if the check is done): management
Eligible
Enter the profession(enter END if the check is done): housemaid
Eligible
Enter the profession(enter END if the check is done): services
Eligible
Enter the profession(enter END if the check is done): hitler
Not Eligible
Enter the profession(enter END if the check is done): obama
Not Eligible
Enter the profession(enter END if the check is done): END

In [15]:
age = {}          # storing max and min age in a dictionary


age['max'] = df['age'].describe().T['max']
age['min'] = df['age'].describe().T['min']

In [16]:
age

{'max': 80.0, 'min': 19.0}

In [19]:
x = int(input('Enter the age: '))      # age check

if age['min'] <= x <= age['max']:
    print('Eligible')
else:
    print('Not Eligible')

Enter the age: 33
Eligible